<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Rayon</title>
</head>
<style>
  body{
    background-color: black;
  }
  h1{
    color: blueviolet;
    text-align: center;
  }
  table, th, td {
  border: 1px solid white;
  padding: 15px;
  
}
  th {
  text-align: center;
  color: aliceblue;
  height: 50%;
}
td{
  color:white;
  text-align: center;
}
</style>
<body>
  <h1>Tableau rayon</h1>
  <table style="width: 100%;">
    <tr>
      <th style="height: 50%;">Id</th>
      <th>Produit</th>
      <th>Fournisseur</th>
      <th>num rayon</th>
    </tr>
    <tr>
      <td>1</td>
      <td>yaghout</td>
      <td>danoun</td>
      <td>1.1</td>
    </tr>
    <tr>
      <td>2</td>
      <td>pain</td>
      <td>pino</td>
      <td>1.2</td>
    </tr>
  </table>
</body>
</html>